body{

    .a{
    background-color:  #f8b2f1;
        margin-top:20px ;
    }
    .b{
        background-color: #f8b2f1;
        margin-top:65px ;
    }
    .c{
        background-color: #f8b2f1;
        margin-top:70px ;
    }
    .d{
        background-color: #f8b2f1;
        margin-top:75px ;
    }
    .e{
        background-color: #f8b2f1;
        margin-top:80px ;
        border: #f8b2f1
    }
};