body{

    .a{
        border: 65px solid #f8b2f1;
        margin-top:60px ;
    }
    .b{
        border: 65px solid #f8b2f1;
        margin-top:60px ;
    }
    .c{
        border: 65px solid #f8b2f1;
        margin-top:60px ;
    }
    .d{
        border: 65px solid #f8b2f1;
        margin-top:60px ;
    }
    .e{
        border: 65px solid #f8b2f1;
        margin-top:60px ;
    }
};